[branch]
  sort = -committerdate
[tag]
  sort = version:refname
[init]
  defaultBranch = main
[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true
[fetch]
  prune = true
  pruneTags = true
  all = true
[column]
  ui = auto
[user]
        email = 47290042+DrCheeseFace@users.noreply.github.com
	name = tharun11
[core]
	autocrlf = false
	editor = vim 
  pager = batcat -p
  symlinks = true 
[push]
  default = simple
  autoSetupRemote = true
[color]
  ui = auto
[alias]
  changed = "!f() { git diff ORIG_HEAD.. \"$@\"; }; f"
  lg = log --graph --decorate 
  df = "!f() { git diff > /tmp/diff.diff && vim /tmp/diff.diff ;}; f" 
  amend = commit --amend --no-edit 
  c = checkout  
  uncommit = reset HEAD~1
  cob = !git checkout $(git branch | fzf)

