deadbeef/medialib.dbpl
deadbeef/playlists/0.dbpl
deadbeef/running
create-next-app-nodejs/             
.gsd-keyboard.settings-ported       
MusicBrainz/                        
QtProject.conf                      
Redgate/                            
Sabaki/                             
autokey/                            
background                          
btop/                               
calibre/                            
connections.db                      
yad.conf
rockbox.org/
tags
texstudio/
tmux-client-14605.log
totem/
user-dirs.dirs
user-dirs.locale
vesktop/
vlc/
xdg-terminals.list
gtk-3.0/                
dconf/                  
dlv/                    
enchant/                
evolution/              
fancy-cat/              
fastfetch/              
gdb/                    
gnome-xdg-terminals.list
go/                     
google-chrome/          
quickshell/                   
ibus/                         
libreoffice/                  
menus/                        
mimeapps.list                 
monitors.xml                  
monitors.xml~                 
nextjs-nodejs/                
nicotine/                     
pulse/                        
qBittorrent/                  
